Darkness/Console
{
	zorder 600

	container BorderPanel(Darkness/ConsolePanel)
	{
		metrics_mode relative
		vert_align top
		left 0 
		top 0
		width 1
		height 0.5
		material Darkness/Console

		element TextArea(Darkness/ConsoleText)
		{
			metrics_mode pixels
			left 0
			top 0
			font_name DebugFont
			char_height 16
			caption --Console--
			colour_top 1 1 1
			colour_bottom 1 1 1
		}
		
		element TextArea(Darkness/CommandLine)
		{
			metrics_mode pixels
			vert_align bottom
			left 0
			top 150
			width 0
			height 30
			font_name DebugFont
			char_height 19
			caption >>
			colour_top 0.2 0.7 0.5
			colour_bottom 0.2 0.7 0.5
		}
	}
}
